---
export const prerender = true;
import Post from '../../layouts/Post.astro';
import { getCollection, render } from 'astro:content';

export async function getStaticPaths() {
  const posts = await getCollection('blog');
  
  return posts
    .filter((post) => !post.data.draft)
    .map((post) => ({
      params: { slug: post.id },
      props: { post },
    }));
}

const { post } = Astro.props;
const { Content } = await render(post);
---
<Post frontmatter={post.data}>
  <Content />
  <a href="/blog" class="post-back">← back to journal</a>
</Post>
