---
export const prerender = true;
import Base from '@layouts/Base.astro';
---
<Base title="about" description="Who is Oddava">
  <div class="about-content">
    <h1>About</h1>
    
    <p>
      i'll fill this page with something interesting soon.
      stay tuned!
    </p>

    <p>
      you can find me on <a href="https://x.com/oddava" target="_blank" rel="noopener">twitter</a>
      or reach me at <a href="mailto:hello@oddava.me">hello@oddava.me</a>.
    </p>
  </div>
</Base>
